{%  load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>John Okwajebi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-img1.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="home.html">John Okwajebi</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/johnokwajebi" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.instagram.com/okwajon/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href=" https://github.com/johnokwajebi" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/john-okwajebi-1b24a6152" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>John Okwajebi</h1>
      <p>I'm <span class="typed" data-typed-items="Python Developer, do DevOps, Freelancer, "></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Flexible Backend Developer proficient in building and deploying secured server-side web applications in a dynamic environment. Seeking growth opportunities Python Developer. I am skilled in building performing, secure and scalable back-end solutions to drive business goals. I'm eager to turn my talent for building amazing digital solutions into actionable growth implementations.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile-img1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Python Developer &amp; DevOps.</h3>
            <p class="fst-italic">
              
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+234 7050 898 572</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Abuja, FCT</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>lawrencejohn311@gmail.com</span></li>

                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>School</strong> <span>University of Ilorin</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BSc. Human Anatomy </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Okwajebi John</h4>
              <ul>
                <li>Asokoro, FCT</li>
                <li>+234 705 0898 5072</li>
                <li>lawrencejohn311@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bsc Human Anatomy </h4>
              <h5>2012 - 2016</h5>
              <p><em>University of Ilorin, Ilorin, Nigeria</em></p>
      
              <ul>
                <li>Excelled in research management and as Leader of the project research group</li>
                <li>Studied people's reactions and behaviors and how to influence them through
                  my research seminar “ Anatomical Basis of Body Language
                 </li>
              </ul>            
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Backend Developer Intern</h4>
              <h5>March 2021 - present</h5>
              <p><em>Zuri Team</em></p>
              <ul>
                <li> Utilized Python and  Django to design scalable and secure web-based applications</li>
                <li> Managed continuous maintenance and troubleshooting of Python Django projects</li>
                <li> Collaborated with other developers to handle complicated issues related to the deployment of Django-based applications </li>
                <li> Worked on the improvement of data protection and security by implement security best practices</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Sales Analyst/ Digital Marketer</h4>
              <h5> Jul 2019- Present</h5>
              <p><em>Rare Dahlia (Wells Carlton Hotels)</em></p>
              <ul>
                <li>Drives sales through the engagement of customers, suggestive selling and sharing product knowledge, greeting and receives customers in a welcoming manner</li>
                <li>Utilized Quickbook retail software to extract customer sales data into excel format for analysis</li>
                <li>Deployed various data analytic techniques to transform unstructured data into structured data</li>
                <li>Created a monthly report based on the analysis of the data extracted</li>
                <li>Evaluate important metrics that affect the traffic of our google my business page</li>
              </ul>
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Python<i class="val"></i></span>
              
            </div>

            <div class="progress">
              <span class="skill">Django and Django Rest Framework<i class="val"></i></span>
              
            </div>

            <div class="progress">
              <span class="skill">HTML, CSS and Bootstrap <i class="val"></i></span>
              
            </div>

            <div class="progress">
              <span class="skill">Git and Github <i class="val"></i></span>
              
            </div>
            <div class="progress">
              <span class="skill">Containerisation: Docker<i class="val"></i></span>
              
            </div>

            <div class="progress">
              <span class="skill">CI/CD: Jenkins <i class="val"></i></span>
              
            </div>
            

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">RDBMS: MySQL and PostgreSQL<i class="val"></i></span>
              
            </div>

             
            <div class="progress">
              <span class="skill">API Documentation: Swagger and Postman<i class="val"></i></span>
              
            </div>

            <div class="progress">
              <span class="skill">Cloud: Heroku, GCP and AWS  <i class="val"></i></span>
              
            </div>
            
            <div class="progress">
              <span class="skill">Debugging and Problem Solving Skills<i class="val"></i></span>
              
            </div>
            <div class="progress">
              <span class="skill">Effective interpersonal and communication skills<i class="val"></i></span>
              
            </div>
            
          
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        
        <div class="section-title">
          <h2>Contact</h2>
          <p>Hello, I'm John, A Python Developer and I do some DevOps. You can contact me below</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Abuja, FCT</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>lawrencejohn311@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+234 7050 898 572</p>
              </div>

              <iframe src="https://maps.google.com/maps?q=asokoro%20abuja&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form  method="POST" action="/" class="contact-form my-5">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="id_name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" id="id_message" required></textarea>
              </div>
              <div class="form-group">
                <div class="text-center"><button type="submit" class="btn btn-info">Send Message</button></div>
              </div>
            </form>
            
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>